body {
  background-color: black;
  text-align: center;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.options {
	display: table;
	margin-left: auto;
	margin-right: auto;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cell {
	display: table-cell;
}

input[type=number] {
	width: 3em;
}

#homeButton {
  display: block;
}

button {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #bfbfbf;
}

#gameCanvas {
  background-color: white;
  border: 1px dotted white;
}
